<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Real Rails Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>
    <p>Hello World!</p>
  </h1>

<%= yield %>

</body>
</html>
